@import "tailwindcss";

body{
  background-color: rgb(227, 223, 220);
}

.bg-img {
  background-image: url("drinks-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Para darle el efecto de oscuro al bg */
.bg-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* nivel de oscuridad */
  z-index: 0;
}